<!DOCTYPE html>
<html>
  <head>
    <title>CarFinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'react_components_manifest' %>
  </head>

  <body>
    <div class="app-container">
      <%= render 'shared/header' %>
    
      <%= yield %>
    </div>
  </body>
</html>
